body {
  font-family: Arial, sans-serif;
}

#content-box {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 20px;
  background-color: green;
  display: flex;
}
    #left-side {
      display: flex;
      width: 250px;
      height: 500px;
      background-color: lightblue;
      padding: 10px;
    }
     #pokemon-info {
        width: 250px;
        height: 500px;
        background-color: lightgray;
        padding: 10px;
      }
    #right-side {
      display: flex;
      justify-content: right;
      width: 250px;
      height: 500px;
      background-color: lightgreen;
    }
      #additional-info {
        display: float;
        background-color: aqua;
      }
        #additional-info h2 {
          display: flex;
        }
        
     